<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://wordpress.org/support/article/editing-wp-config-php/
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ database_name }}' );

/** MySQL database username */
define( 'DB_USER', '{{ database_user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ database_passwd }}' );

/** MySQL hostname */
define( 'DB_HOST', '{{ ansible_host_data }}' );

/** Database Charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The Database Collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'w6</7oneu)u9peK3yhwgQl&!Y>|XYnXb[*XX[J1jp!~Arp0pA+Ou2*eO(K)h^p)r' );
define( 'SECURE_AUTH_KEY',  ',%N2puVj-HpJ{](d=aPdtlUUID&?teKm>~vH8&c!t*JsQcxYSFp5j?#cSjJK?a$4' );
define( 'LOGGED_IN_KEY',    'F@5ZWD<ux_sXtUBR:~1#d`xQ_{aq85 cOSF3$%D,TW(;nx?,;v%E=`WRJcjPyT,K' );
define( 'NONCE_KEY',        '~>ovaN*oc[@Op ;saS6L@Rq?R:HXV0a#_|y@d$4];=U.r[gIcPWfG;/:Z#Zb(t;R' );
define( 'AUTH_SALT',        'BSE.r!MfNn0A*6d_ycV##x]|A;r2n)FGqs$fxPnw%HQBT!Wt($Q@g[&.R Gb=mDO' );
define( 'SECURE_AUTH_SALT', '=c;cs0OnXAMfHwQ po/Zf206820?qY19fes(WnfTXOTiHsvr`Vn5>LmlW2kiYts^' );
define( 'LOGGED_IN_SALT',   ';h!;PO[[9ep8ZGq$1nJOO`5oD>!p<|A7ET|2L},48WR{@F93>#K]TkMZcEoy2z24' );
define( 'NONCE_SALT',       'G=<u@T1~UMP^si+768D6(-fgQy[3noO$d&Nj`r;}7P_a0=`YJ=^`}?V)k.87DPNm' );

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://wordpress.org/support/article/debugging-in-wordpress/
 */
define( 'WP_DEBUG', false );

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
